{% extends 'banking/basic.html' %}
{%load static%}

{% block title %}About Us{% endblock %}


{% block css %}

.back-img{
  background-image:url({%static 'images/cover.jpg'%});
  width:100%;
  height:600px;
  background-size:cover;
  position:absolute;
}
.text{
  padding-top:30px;
}
h1{
font-family:  'Garamond', serif;
font-size:100px;
font-weight:bold;
color:rgb(20, 92, 37);
}
#h2{
  color:gray;
}

#a{
 width:45%;
font-weight:bold;
color:black;
font-family:  'Garamond', serif;
font-size:16px;
}
span{
  font-size:24px;
  color:black;
  font-family:  'Garamond', serif;
}


{% endblock %}


{% block body %}
    <section class="about mt-3 mb-4" style="background-color: #f0f8ff ;">
        <div class="container text-center p-2">
            <h1 class="display-4 fw-bolder">ABOUT <span class="text-danger">US</span></h1>
            <p class="fs-5 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias optio nobis possimus,
                quidem
                quaerat aliquid aperiam dignissimos esse asperiores amet eveniet dolore nostrum iure qui perferendis
                illum
                error velit ea!</p>
        </div>

        <div class="container">
            <div class="row d-flex align-items-center mt-5">
                <div class="col-lg d-flex justify-content-center mb-3">
                    <img src="https://source.unsplash.com/600x400/?meeting,conference" alt="" class="img-fluid"
                        style="border-radius: 20px;">
                </div>
                <div class="col text-center">
                    <h1 class="display-4"><span class="text-danger">Our</span> Story</h1>
                    <p class="mt-3 fs-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit doloribus sapiente beatae repellat
                        saepe asperiores, numquam blanditiis dolor delectus! Rerum iusto architecto ipsa, nihil earum
                        possimus accusantium blanditiis similique labore.
                    </p>
                </div>
            </div>
            <div class="row d-flex flex-row-reverse align-items-center mt-5">
                <div class="col-lg d-flex justify-content-center mb-3">
                    <img src="https://source.unsplash.com/600x400/?meeting" alt="" class="img-fluid"
                        style="border-radius: 20px;">
                </div>
                <div class="col text-center">
                    <h1 class="display-4"><span class="text-danger">Our</span> Objective</h1>
                    <p class="mt-3 fs-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit doloribus sapiente beatae repellat
                        saepe asperiores, numquam blanditiis dolor delectus! Rerum iusto architecto ipsa, nihil earum
                        possimus accusantium blanditiis similique labore.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h1 class="display-4 text-center">Our <span class="text-danger">Team</span></h1>
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-sm m-2">
                    <div class="card m-auto" style="width: 18rem;">
                        <img src="https://source.unsplash.com/400x300/?man,male,portrait" class="card-img-top img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4">Ramesh</h5>
                            <h6 class="f-5 fw-bold">Web Developer</h6>
                            <p class="card-text fs-6">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm m-2">
                    <div class="card m-auto" style="width: 18rem;">
                        <img src="https://source.unsplash.com/400x300/?boy,portrait" class="card-img-top img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4">Suresh</h5>
                            <h6 class="f-5 fw-bold">UI/UX Designer</h6>
                            <p class="card-text fs-6">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm m-2">
                    <div class="card m-auto" style="width: 18rem;">
                        <img src="https://source.unsplash.com/400x300/?male,portrait" class="card-img-top img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4">Rajesh</h5>
                            <h6 class="f-5 fw-bold">Data Scientist</h6>
                            <p class="card-text fs-6">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm m-2">
                    <div class="card m-auto" style="width: 18rem;">
                        <img src="https://source.unsplash.com/400x300/?man,model,portrait" class="card-img-top img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4">Mangesh</h5>
                            <h6 class="f-5 fw-bold">Management</h6>
                            <p class="card-text fs-6">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br>
 <br> 
 <br>
{% endblock %}
